<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<filter>
		<filter-name>Authenticator</filter-name>
		<filter-class>eu.doniec.piotr.naspotkanie.web.AuthFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>Authenticator</filter-name>
		<servlet-name>PositionLog</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>PositionLog</servlet-name>
		<servlet-class>eu.doniec.piotr.naspotkanie.web.PositionLogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositionLog</servlet-name>
		<url-pattern>/PositionLog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthRegister</servlet-name>
		<servlet-class>eu.doniec.piotr.naspotkanie.web.AuthRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthRegister</servlet-name>
		<url-pattern>/AuthRegister</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DbgList</servlet-name>
		<servlet-class>eu.doniec.piotr.naspotkanie.web.dbg.ListUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbgList</servlet-name>
		<url-pattern>/DbgList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoInvoker</servlet-name>
		<servlet-class>eu.doniec.piotr.naspotkanie.web.NoInvokerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoInvoker</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
